.slider {
  &__item {
    background: url('../images/slider-img-1.png') no-repeat center/cover;
    min-height: 730px;
    position: relative;

    &.slick-slide {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    text-align: center;
    color: #ffffff;

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.4);
      position: absolute;
      top: 0;
      left: 0;
    }

    &-subtitle {
      font-size: 40px;
      letter-spacing: -1px;
      font-weight: 400;
      font-style: italic;
      font-family:'Roboto Slab', serif;
      margin-bottom: 50px;
    }

    &-title {
      font-size: 75px;
      letter-spacing: -2px;
      font-weight: 700;
      font-family: "Montserrat";
      text-transform: uppercase;
      margin-bottom: 60px;
      animation-name: slideLeft;
      animation-duration: 2s;
    }

    &-button {
      background-color: $main-color;
      padding: 25px 50px;
      border-radius: 3px;
      font-size: 18px;
      color: #ffffff;
      font-weight: 700;
      font-family: "Montserrat";
      text-align: center;
      border: none;
      text-transform: uppercase;
      animation-name: fadeIn;
      animation-duration: 3s;
    }

  }

  &__content {
    z-index: 1;
  }
}

@keyframes slideLeft {
  from {
    margin-left: -100%;
    opacity: 0;
  }

  to {
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
   opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}